{% extends 'base.html' %}

{% block home %}

    {% for blog in posts %}

    <div style="border:1px solid darkslategrey; border-radius:12px; border-color:black;
                margin-left : 30px ; margin-top:10px; padding:25px">
    
    <h1 style = "color:cornflowerblue">{{blog.id}}번째 게시글</h1>
    <p>{{blog.title}}</p>
    <p>{{blog.pub_date}}</p>
    <p>{{blog.body}}</p>
    <p>{{blog.summary}}<a href="{% url 'detail' blog.id %}">....more</a></p>
    <hr>

    </div>

    {% endfor %}

    {%if posts.has_previous%}
    <a href = "?page=1">First</a>
    <a href = "?page={{posts.previous_page_number}}">Previous</a>

    {%endif%}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    {%if posts.has_next %}

    <a href = "?page={{posts.next_page_number}}">Next</a>
    <a href = "?page={{posts.paginator.num_pages}}">Last</a>

    {%endif%}

{% endblock %}