{% extends 'wordcount/base.html' %}

{% block home_content %}

<header class="bg-primary text-white">
  <div class="container text-center">
  <h1>Welcome to Scrolling Nav</h1>
  <p class="lead">Welcome to Word Count Site!</p>
</header>

<form action="{% url 'count' %}">

  <div class = "container">
  <textarea cols = "150" rows="20" name = "fulltext" placeholder="단어를 입력하고 버튼을 누르세요. 단어의 개수를 셀 수 있습니다."></textarea>
  <br>
  <input class = "btn btn-primary" type = "submit" value = "COUNT" style = "position: absolute; left: 1123px;">
  </div>
</form>

{% endblock %}