<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <form id="logout" method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Logout" />
    </form>

    환영합니다. {{ user.username }} 님! {% else %}

    <a href="{% url 'login' %} ">로그인</a>

    <a href="{% url 'signup' %} ">회원가입</a>

    {% endif %}


    <form action = "{% url 'home' %}" style="position: absolute; left: 450px; top: 450px;">
        <input class = "btn btn-primary" type = "submit" value = "게임시작!" name = 'yut_value'>
    </form>


    {{value}}
</body>
</html>